/* stylelint-disable linebreaks */

/* stylelint-disable declaration-no-important */

/* stylelint-disable selector-list-comma-space-after */
header {
  background-color: #212529;
  color: black;
  text-align: center;
}

header h1 {
  font-weight: 900;
  text-shadow: -1px 0 #fafcb3 , 0 1px #fafcb3 , 1px 0 #fafcb3 , 0 -1px #fafcb3;
}

.searchBar {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.search {
  flex: 1;
  flex-basis: 100%;
  margin: 10px auto;
  text-align: center;
}

.search input {
  text-align: center;
  width: 50%;
}

input:focus::placeholder {
  color: transparent;
}


.filter-number, .filter-sort {
  background-color: #dee2e6;
  height: 56px;
  padding: 10px;
  text-align: center;
}

.filter-number {
  flex: 2;
  flex-basis: 49%;
}

.filter-sort {
  flex: 3;
  flex-basis: 49%;
}

.filter-number select,
.filter-number input,
.filter-sort select,
.filter-sort input,
.filter-sort button {
  margin: 0 10px;
  text-align: center;
}

.appliedFilters {
  flex: 4;
  flex-basis: 100%;
  padding: 10px;
  text-align: center;
}

.appliedFilters p {
  margin-top: 20px;
}

.buttons {
  flex: 5;
  flex-basis: 100%;
  padding: 10px;
  text-align: center;
}

.buttons button {
  margin: 0 10px;
}

.appliedFilters button {
  background: none;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none;
}
